@import "../../app.scss";

.parallax{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h1{
    font-size: 100px;
    @include tablet{
      font-size: 70px;
      display: flex;
      width: 100%;
      justify-content: center;
    }
    @include mobile{
      font-size: 50px;
    }
  }

  .mountain{
    background-image: url("/mountains.png");
    background-size: cover;
    background-position: bottom;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    @include tablet{
      background-size: contain;
      background-repeat: no-repeat;
    }
    @include mobile{
      background-size: contain;
      background-repeat: no-repeat;
    }
  } 

  .sun{
    background-image: url("/sun.png");
    background-size: cover;
    background-position: bottom;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    @include tablet{
      background-size: contain;
      background-repeat: no-repeat;
      bottom: 15vh;
    }         
    @include mobile{
      background-size: contain;
      background-repeat: no-repeat;
      bottom: 15vh;
    }
  } 

  .planet{
    background-image: url("/planets.png");
    background-size: cover;
    background-position: bottom;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    @include tablet{
      background-size: contain;
      background-repeat: no-repeat;
      bottom: 15vh;
    }
    @include mobile{
      background-size: contain;
      background-repeat: no-repeat;
      bottom: 15vh;
    }          
  } 

  .stars{
    background-image: url("/stars.png");
    background-size: cover;
    background-position: bottom;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    @include tablet{
      background-size: contain;
    }
    @include mobile{
      background-size: contain;
    }
  } 
}
